*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container{
    background: url(/images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;

    h1{
        display: block;
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2.7rem;
        color: hsl(0, 0%, 100%);
        font-family: Fraunces, sans-serif;
        font-weight: 700;
        letter-spacing: .2em;
    }

    .arrow{
        display: block;
        position: relative;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.logo-img{
    margin: 3rem auto auto 1.3rem;
}

nav{
    display: none;
    transition: .3s;
    z-index: 1;
    position: fixed;
    background: hsl(0, 0%, 100%);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: auto 2rem;
    margin-top: 4.8rem;
    clip-path: polygon(25% 7%, 94% 7%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 7%);
    
    ul{
        text-align: center;
        margin: 3rem 5rem 4rem 5rem;
    }        

    li{
        padding: 1.5rem 2rem 3rem 2rem;
    }

    .nav-list{
        color: hsl(168, 34%, 41%);
        font-family: Barlow, sans-serif;
        font-weight: 600;
        font-size: 18px;
    }

    button{
        border: none;
        border-radius: 3rem;
        background: hsl(51, 100%, 49%);
        padding: .8rem 1.5rem;
        margin-bottom: 1rem;

        a{
            color: black;
            font-family: Fraunces, sans-serif;
            font-size: 18px;
            font-weight: 700;
        }
    }
}   

header{
    display: flexbox;
    justify-content: space-between;

    .menu-Btn{
        margin-right: 1.3rem;
        margin-top: 3rem;
        cursor: pointer;
        float: right;
        font-size: 24px;
    }    
}
}

.egg{
    img{
        background-size: cover;
        width: 100%;
    }
}

.transform-text{
    background: hsl(0, 0%, 100%);
    text-align: center;
    margin: auto 2rem;

    h2{
        font-family: Fraunces, sans-serif;
        font-weight: 900;
        margin: 3rem .5rem 1.5rem .5rem;
        font-size: 2.21rem;
    }

    p{
        font-size: 22px;
        font-family: Barlow, sans-serif;
        font-weight: 600;
        color: hsl(213, 9%, 39%);
        line-height: 2rem;
    }

    h4{
        a{
            color: black;
            font-weight: 900;
        }

        font-size: 20px;
        font-family: Fraunces, sans-serif;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

.cup{
    img{
        background-size: cover;
        width: 100%;
    }
}

.stand-out-text{
    background: hsl(0, 0%, 100%);
    text-align: center;
    margin: auto 1.7rem;

    h2{
        font-family: Fraunces, sans-serif;
        font-weight: 900;
        margin: 3rem 1.5rem 1.5rem 1.5rem;
        font-size: 2.21rem;
    }

    p{
        font-size: 22px;
        font-family: Barlow, sans-serif;
        font-weight: 600;
        color: hsl(213, 9%, 39%);
        line-height: 2rem;
    }

    h4{
        a{
            color: black;
            font-weight: 900;
        }

        font-size: 20px;
        font-family: Fraunces, sans-serif;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

.graphic-design{
    position: relative;
   
    .graphic-design-main{
        position: absolute;
        top: 65%;
        width: 100%;
        text-align: center;
        color: hsl(167, 40%, 24%);
    }

    img{
        width: 100%;
        height: auto;
        //opacity: 0.9;
    }

    h2{
        font-family: Fraunces, sans-serif;
        font-size: 28px;
        font-weight: 900;
    }

    p{
        font-family: Barlow, sans-serif;
        font-size: 18px;
        margin: 1.5rem  1.5rem auto 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }
}

.photography{
    position: relative;
   
    .photography-main{
        position: absolute;
        top: 65%;
        width: 100%;
        text-align: center;
        color: hsl(198, 62%, 26%);
    }

    img{
        width: 100%;
        height: auto;
        //opacity: 0.9;
    }

    h2{
        font-family: Fraunces, sans-serif;
        font-size: 28px;
        font-weight: 900;
    }

    p{
        font-family: Barlow, sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin: 1.5rem  2rem auto 2rem;
        line-height: 2rem;
    }
}

.testimonials{
    background-color: hsl(0, 0%, 100%); 

    h2{
        display: block;
        padding: 3.5rem 1rem;
        text-align: center;
        color: hsl(210, 4%, 67%);
        font-family: Fraunces, sans-serif;
        font-weight: 700;
    }

    .emily{
        align-items: center;
        justify-content: center;
        text-align: center;

        img{
            border-radius: 10rem;
        }

        p{
            font-family: Barlow, sans-serif;
            font-weight: 600;
            color: hsl(213, 9%, 39%);
            margin: 2.5rem 3.4rem;
            font-size: 19px;
            line-height: 2rem;
        }

        h3{
            color: hsl(212, 27%, 19%);
            font-weight: 900;
            font-family: Fraunces, sans-serif;
        }

        .post{
            margin-top: 0rem;
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: hsl(210, 4%, 67%);
        }
    }
    
    .thomas{
        align-items: center;
        justify-content: center;
        text-align: center;

        img{
            border-radius: 10rem;
        }

        p{
            font-family: Barlow, sans-serif;
            font-weight: 600;
            color: hsl(213, 9%, 39%);
            margin: 2.5rem 3rem;
            font-size: 19px;
            line-height: 2rem;
        }

        h3{
            color: hsl(212, 27%, 19%);
            font-weight: 900;
            font-family: Fraunces, sans-serif;
        }

        .post{
            margin-top: 0rem;
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: hsl(210, 4%, 67%);
        }
    }

    .Jennie{
        align-items: center;
        justify-content: center;
        text-align: center;

        img{
            border-radius: 10rem;
        }

        p{
            font-family: Barlow, sans-serif;
            font-weight: 600;
            color: hsl(213, 9%, 39%);
            margin: 2.5rem 3rem;
            font-size: 19px;
            line-height: 2rem;
        }

        h3{
            color: hsl(212, 27%, 19%);
            font-weight: 900;
            font-family: Fraunces, sans-serif;
        }

        .post{
            margin-top: 0rem;
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: hsl(210, 4%, 67%);
        }
    }
}

.img-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
    
    img{
        width: 100%;
    }
}

footer{
    background-color: hsl(168, 34%, 41%);

    .footer-logo{
        filter: invert(53%) sepia(7%) saturate(2574%) hue-rotate(118deg) brightness(50%) contrast(86%);
        margin: auto;
        display: block;
        padding-top: 3rem;
        width: 10rem;
    }

    .links{
        ul{
            display:flex;
            flex-direction: row;
            justify-content: center;
            gap: 3rem;
            padding: 2rem 0;
            font-family: Barlow, sans-serif;
            font-size: 1.2rem;
        }

        a{
            color: hsl(167, 40%, 24%);
        }
    }

    .social-links{
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 3rem;

        img{
            filter: invert(53%) sepia(7%) saturate(200%) hue-rotate(118deg) brightness(50%) contrast(86%);

        }
    }

    .courtesy{
        text-align: center;
        font-family: Barlow, sans-serif;
        font-size: 1.2rem;
        padding: 3rem auto;
        background-color: hsl(213, 9%, 39%);
        position: sticky;
        color: hsl(7, 99%, 70%);

        a{
            color: pink;
        }
    }
}

.show-menu{
    display: block;
}