* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.nav-menu {
  opacity: 0;
  height: 0;
}

.container {
  background: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.container h1 {
  display: block;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.7rem;
  color: hsl(0deg, 0%, 100%);
  font-family: Fraunces, sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.container .arrow {
  display: block;
  position: relative;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .logo-img {
  margin: 3rem auto auto 1.3rem;
}
.container .nav-menu {
  transition: 0.3s;
  z-index: 1;
  position: fixed;
  background: hsl(0deg, 0%, 100%);
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: auto 2rem;
  margin-top: 4.8rem;
  -webkit-clip-path: polygon(25% 7%, 94% 7%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 7%);
          clip-path: polygon(25% 7%, 94% 7%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 7%);
}
.container .nav-menu ul {
  text-align: center;
  margin: 3rem 5rem 4rem 5rem;
}
.container .nav-menu li {
  padding: 1.5rem 2rem 3rem 2rem;
}
.container .nav-menu .nav-list {
  color: hsl(168deg, 34%, 41%);
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.container .nav-menu .nav-list:hover {
  color: #3ebfff;
}
.container .nav-menu button {
  border: none;
  border-radius: 3rem;
  background: hsl(51deg, 100%, 49%);
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
}
.container .nav-menu button a {
  color: black;
  font-family: Fraunces, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.container .nav-menu button:hover {
  background: black;
  transition: 0.3s;
}
.container .nav-menu button:hover a {
  color: hsl(51deg, 100%, 49%);
}
.container header {
  display: flexbox;
  justify-content: space-between;
}
.container header .burger-menu {
  display: block;
  margin: auto;
  cursor: pointer;
  position: absolute;
  top: 43px;
  right: 19px;
}
.container header .burger-menu div {
  width: 22px;
  height: 1px;
  background-color: white;
  margin: 6px;
  border-radius: 5px;
  transition: 0.3s;
}

.egg img {
  background-size: cover;
  width: 100%;
}

.transform-text {
  background: hsl(0deg, 0%, 100%);
  text-align: center;
  margin: auto 2rem;
}
.transform-text h2 {
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  margin: 3rem 0.5rem 1.5rem 0.5rem;
  font-size: 2.21rem;
}
.transform-text p {
  font-size: 22px;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  line-height: 2rem;
}
.transform-text h4 {
  font-size: 20px;
  font-family: Fraunces, sans-serif;
  margin-top: 2rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 999;
}
.transform-text h4 a {
  color: black;
  font-weight: 900;
}
.transform-text h4 a::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 8px;
  background-color: hsl(51deg, 100%, 49%);
  bottom: 2.5px;
  opacity: 0.3;
  z-index: -1;
  border-radius: 5px;
  margin-left: -5px;
}
.transform-text h4:hover a::before {
  opacity: 0.7;
}

.cup img {
  background-size: cover;
  width: 100%;
}

.stand-out-text {
  background: hsl(0deg, 0%, 100%);
  text-align: center;
  margin: auto 1.7rem;
}
.stand-out-text h2 {
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  margin: 3rem 1.5rem 1.5rem 1.5rem;
  font-size: 2.21rem;
}
.stand-out-text p {
  font-size: 22px;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  line-height: 2rem;
}
.stand-out-text h4 {
  font-size: 20px;
  font-family: Fraunces, sans-serif;
  margin-top: 2rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 999;
}
.stand-out-text h4 a {
  color: black;
  font-weight: 900;
}
.stand-out-text h4 a::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 8px;
  background-color: #fe7867;
  bottom: 2.5px;
  opacity: 0.3;
  z-index: -1;
  border-radius: 5px;
  margin-left: -5px;
}
.stand-out-text h4:hover a::before {
  opacity: 0.7;
}

.graphic-design {
  position: relative;
}
.graphic-design .graphic-design-main {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  color: hsl(167deg, 40%, 24%);
}
.graphic-design img {
  width: 100%;
  height: auto;
}
.graphic-design h2 {
  font-family: Fraunces, sans-serif;
  font-size: 28px;
  font-weight: 900;
}
.graphic-design p {
  font-family: Barlow, sans-serif;
  font-size: 18px;
  margin: 1.5rem 1.5rem auto 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.photography {
  position: relative;
}
.photography .photography-main {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  color: hsl(198deg, 62%, 26%);
}
.photography img {
  width: 100%;
  height: auto;
}
.photography h2 {
  font-family: Fraunces, sans-serif;
  font-size: 28px;
  font-weight: 900;
}
.photography p {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 1.5rem 2rem auto 2rem;
  line-height: 2rem;
}

.testimonials {
  background-color: hsl(0deg, 0%, 100%);
}
.testimonials h2 {
  display: block;
  padding: 3.5rem 1rem;
  text-align: center;
  color: hsl(210deg, 4%, 67%);
  font-family: Fraunces, sans-serif;
  font-weight: 700;
}
.testimonials .emily {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials .emily img {
  border-radius: 10rem;
}
.testimonials .emily p {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  margin: 2.5rem 3.4rem;
  font-size: 19px;
  line-height: 2rem;
}
.testimonials .emily h3 {
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-family: Fraunces, sans-serif;
}
.testimonials .emily .post {
  margin-top: 0rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(210deg, 4%, 67%);
}
.testimonials .thomas {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials .thomas img {
  border-radius: 10rem;
}
.testimonials .thomas p {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  margin: 2.5rem 3rem;
  font-size: 19px;
  line-height: 2rem;
}
.testimonials .thomas h3 {
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-family: Fraunces, sans-serif;
}
.testimonials .thomas .post {
  margin-top: 0rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(210deg, 4%, 67%);
}
.testimonials .Jennie {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials .Jennie img {
  border-radius: 10rem;
}
.testimonials .Jennie p {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  margin: 2.5rem 3rem;
  font-size: 19px;
  line-height: 2rem;
}
.testimonials .Jennie h3 {
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-family: Fraunces, sans-serif;
}
.testimonials .Jennie .post {
  margin-top: 0rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(210deg, 4%, 67%);
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img-grid img {
  width: 100%;
}

footer {
  background-color: hsl(168deg, 34%, 41%);
}
footer .footer-logo {
  filter: invert(53%) sepia(7%) saturate(2574%) hue-rotate(118deg) brightness(50%) contrast(86%);
  margin: auto;
  display: block;
  padding-top: 3rem;
  width: 10rem;
}
footer .links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
  font-family: Barlow, sans-serif;
  font-size: 1.2rem;
}
footer .links a {
  color: hsl(167deg, 40%, 24%);
}
footer .social-links {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 3rem;
}
footer .social-links img {
  filter: invert(53%) sepia(7%) saturate(200%) hue-rotate(118deg) brightness(50%) contrast(86%);
}
footer .courtesy {
  text-align: center;
  font-family: Barlow, sans-serif;
  font-size: 1.2rem;
  padding: 3rem auto;
  background-color: hsl(213deg, 9%, 39%);
  position: -webkit-sticky;
  position: sticky;
  color: hsl(7deg, 99%, 70%);
}
footer .courtesy a {
  color: pink;
}

.show-menu {
  opacity: 1;
  height: auto;
}

.toggle .bar1 {
  transform: rotate(45deg) translate(4px, 4px);
  -webkit-transform: rotate(45deg) translate(4px, 4px);
  transition: 0.3s;
}
.toggle .bar2 {
  opacity: 0;
}
.toggle .bar3 {
  transform: rotate(-45deg) translate(6px, -7px);
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */