*{
    list-style: none;
    text-decoration: none;
    margin: 0;
}

.container{
    background: url(/images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;

    h1{
        display: block;
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2.7rem;
        color: hsl(0, 0%, 100%);
        font-family: Fraunces, sans-serif;
        font-weight: 700;
        letter-spacing: .2em;
    }

    .arrow{
        display: block;
        position: relative;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.logo-img{
    margin: 2rem auto auto 1.3rem;
}

nav{
    display: none;
}

header{
    display: flexbox;
    justify-content: space-between;

    #toggle-open-menu{
        margin-right: 1.3rem;
        margin-top: 2rem;
        cursor: pointer;
        float: right;
        font-size: 24px;
    }    
}
}

.egg{
    img{
        background-size: cover;
        width: 100%;
    }
}

.transform-text{
    background: hsl(0, 0%, 100%);
    text-align: center;
    margin: auto 2rem;

    h2{
        font-family: Fraunces, sans-serif;
        font-weight: 900;
        margin: 3rem .5rem 1.5rem .5rem;
        font-size: 2.21rem;
    }

    p{
        font-size: 22px;
        font-family: Barlow, sans-serif;
        font-weight: 600;
        color: hsl(213, 9%, 39%);
        line-height: 2rem;
    }

    h4{
        a{
            color: black;
            font-weight: 900;
        }

        font-size: 20px;
        font-family: Fraunces, sans-serif;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

.cup{
    img{
        background-size: cover;
        width: 100%;
    }
}

.stand-out-text{
    background: hsl(0, 0%, 100%);
    text-align: center;
    margin: auto 1.7rem;

    h2{
        font-family: Fraunces, sans-serif;
        font-weight: 900;
        margin: 3rem 1.5rem 1.5rem 1.5rem;
        font-size: 2.21rem;
    }

    p{
        font-size: 22px;
        font-family: Barlow, sans-serif;
        font-weight: 600;
        color: hsl(213, 9%, 39%);
        line-height: 2rem;
    }

    h4{
        a{
            color: black;
            font-weight: 900;
        }

        font-size: 20px;
        font-family: Fraunces, sans-serif;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

.graphic-design{
    background: url(/images/mobile/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;

    h2{
        position: absolute;
        top: 30rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}