* {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.container {
  background: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.container h1 {
  display: block;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.7rem;
  color: hsl(0deg, 0%, 100%);
  font-family: Fraunces, sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.container .arrow {
  display: block;
  position: relative;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .logo-img {
  margin: 2rem auto auto 1.3rem;
}
.container nav {
  display: none;
}
.container header {
  display: flexbox;
  justify-content: space-between;
}
.container header #toggle-open-menu {
  margin-right: 1.3rem;
  margin-top: 2rem;
  cursor: pointer;
  float: right;
  font-size: 24px;
}

.egg img {
  background-size: cover;
  width: 100%;
}

.transform-text {
  background: hsl(0deg, 0%, 100%);
  text-align: center;
  margin: auto 2rem;
}
.transform-text h2 {
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  margin: 3rem 0.5rem 1.5rem 0.5rem;
  font-size: 2.21rem;
}
.transform-text p {
  font-size: 22px;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  line-height: 2rem;
}
.transform-text h4 {
  font-size: 20px;
  font-family: Fraunces, sans-serif;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.transform-text h4 a {
  color: black;
  font-weight: 900;
}

.cup img {
  background-size: cover;
  width: 100%;
}

.stand-out-text {
  background: hsl(0deg, 0%, 100%);
  text-align: center;
  margin: auto 1.7rem;
}
.stand-out-text h2 {
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  margin: 3rem 1.5rem 1.5rem 1.5rem;
  font-size: 2.21rem;
}
.stand-out-text p {
  font-size: 22px;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  line-height: 2rem;
}
.stand-out-text h4 {
  font-size: 20px;
  font-family: Fraunces, sans-serif;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.stand-out-text h4 a {
  color: black;
  font-weight: 900;
}

.graphic-design {
  position: relative;
}
.graphic-design .graphic-design-main {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  color: hsl(167deg, 40%, 24%);
}
.graphic-design img {
  width: 100%;
  height: auto;
}
.graphic-design h2 {
  font-family: Fraunces, sans-serif;
  font-size: 28px;
  font-weight: 900;
}
.graphic-design p {
  font-family: Barlow, sans-serif;
  font-size: 18px;
  margin: 1.5rem 1.5rem auto 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.photography {
  position: relative;
}
.photography .photography-main {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  color: hsl(198deg, 62%, 26%);
}
.photography img {
  width: 100%;
  height: auto;
}
.photography h2 {
  font-family: Fraunces, sans-serif;
  font-size: 28px;
  font-weight: 900;
}
.photography p {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 1.5rem 2rem auto 2rem;
  line-height: 2rem;
}

.testimonials {
  background-color: hsl(0deg, 0%, 100%);
}
.testimonials h2 {
  display: block;
  padding: 3.5rem 1rem;
  text-align: center;
  color: hsl(210deg, 4%, 67%);
  font-family: Fraunces, sans-serif;
  font-weight: 700;
}
.testimonials .emily {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials .emily img {
  border-radius: 10rem;
}
.testimonials .emily p {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  margin: 2.5rem 3.4rem;
  font-size: 19px;
  line-height: 2rem;
}
.testimonials .emily h3 {
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-family: Fraunces, sans-serif;
}
.testimonials .emily .post {
  margin-top: 0rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(210deg, 4%, 67%);
}
.testimonials .thomas {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials .thomas img {
  border-radius: 10rem;
}
.testimonials .thomas p {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  margin: 2.5rem 3rem;
  font-size: 19px;
  line-height: 2rem;
}
.testimonials .thomas h3 {
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-family: Fraunces, sans-serif;
}
.testimonials .thomas .post {
  margin-top: 0rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(210deg, 4%, 67%);
}
.testimonials .Jennie {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials .Jennie img {
  border-radius: 10rem;
}
.testimonials .Jennie p {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  margin: 2.5rem 3rem;
  font-size: 19px;
  line-height: 2rem;
}
.testimonials .Jennie h3 {
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-family: Fraunces, sans-serif;
}
.testimonials .Jennie .post {
  margin-top: 0rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(210deg, 4%, 67%);
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img-grid img {
  width: 100%;
}

footer {
  background-color: hsl(168deg, 34%, 41%);
  text-align: center;
}/*# sourceMappingURL=style.css.map */