*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

nav{
    display: none;
}

.desktop{
    display: none;
}

.container{
    background: url(/images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;

    h1{
        display: block;
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2.7rem;
        color: hsl(0, 0%, 100%);
        font-family: Fraunces, sans-serif;
        font-weight: 700;
        letter-spacing: .2em;

        span{
            display: block;
        }
    }

    .arrow{
        display: block;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo-img{
        margin: 3rem auto auto 1.3rem;
    }

    nav{
        transform: translateX(-50%);
        position: fixed;
        left: 50%;
        width: 90%;
        background: hsl(0, 0%, 100%);
        transition: .3s;
        z-index: 999;
        padding: auto 2rem;
        margin-top: 4.8rem;
        clip-path: polygon(25% 7%, 94% 7%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 7%);
    
        ul{
            text-align: center;
            margin: 3rem 5rem 4rem 5rem;
        }        

        li{
            padding: 1.5rem 2rem 3rem 2rem;
        }

        .nav-list{
            color: hsl(168, 34%, 41%);
            font-family: Barlow, sans-serif;
            font-weight: 600;
            font-size: 18px;

            &:hover{
                color: #3ebfff;
                transition: .3s;
            }
        }

        button{
            border: none;
            border-radius: 3rem;
            background: hsl(51, 100%, 49%);
            padding: .8rem 1.5rem;
            margin-bottom: 1rem;

            a{
                color: black;
                font-family: Fraunces, sans-serif;
                font-size: 18px;
                font-weight: 700;
            }

            &:hover{
                a{
                    color: hsl(51, 100%, 49%);
                }
                background: black;
                transition: .3s;
            }
        }
    }   

    header{
        display: flex;
        justify-content: space-between;

        .burger-menu {
            display: block;
            margin: auto;
            cursor: pointer;
            position: absolute;
            top: 43px;
            right: 19px;

            div{
                width: 22px;
                height: 1px;
                background-color: white;
                margin: 6px;
                border-radius: 5px;
                transition: .3s;
            }
        }   
    }
}

.egg{
    img{
        background-size: cover;
        width: 100%;
    }
}

.transform-text{
    background: hsl(0, 0%, 100%);
    text-align: center;
    margin: auto 2rem;

    h2{
        font-family: Fraunces, sans-serif;
        font-weight: 900;
        margin: 3rem .5rem 1.5rem .5rem;
        font-size: 32px;
    }

    p{
        font-size: 18px;
        font-family: Barlow, sans-serif;
        font-weight: 600;
        color: hsl(213, 9%, 39%);
        line-height: 2rem;
    }

    h4{
        font-size: 20px;
        font-family: Fraunces, sans-serif;
        margin-top: 2rem;
        margin-bottom: 4rem;
        position: relative;
        z-index: 999;

        a{
            color: black;
            font-weight: 900;
            
            &::before{
                content: '';
                position: absolute;
                width: 10rem; 
                height: 8px;
                background-color: hsl(51, 100%, 49%);
                bottom: 2.5px;
                opacity: .3;
                z-index: -1;
                border-radius: 5px;
                margin-left: -5px; 
            }
        } 

        &:hover{
            a{
                    &::before{
                    opacity: .7;
                }
            }
        }
    }
}

.cup{
    img{
        background-size: cover;
        width: 100%;
    }
}

.stand-out-text{
    background: hsl(0, 0%, 100%);
    text-align: center;
    margin: auto 1.7rem;

    h2{
        font-family: Fraunces, sans-serif;
        font-weight: 900;
        margin: 3rem 1.5rem 1.5rem 1.5rem;
        font-size: 32px;
    }

    p{
        font-size: 18px;
        font-family: Barlow, sans-serif;
        font-weight: 600;
        color: hsl(213, 9%, 39%);
        line-height: 2rem;
    }

    h4{
        font-size: 20px;
        font-family: Fraunces, sans-serif;
        margin-top: 2rem;
        margin-bottom: 4rem;
        position: relative;
        z-index: 999;

        a{
            color: black;
            font-weight: 900;

            &::before{
                content: '';
                position: absolute;
                width: 10rem; 
                height: 8px;
                background-color: #fe7867;
                bottom: 2.5px;
                opacity: .3;
                z-index: -1;
                border-radius: 5px;
                margin-left: -5px; 
            }
        }

        &:hover{
            a{
                    &::before{
                    opacity: .7;
                }
            }
        }
    }
}

.graphic-design{
    position: relative;
   
    .graphic-design-main{
        position: absolute;
        top: 65%;
        width: 100%;
        text-align: center;
        color: hsl(167, 40%, 24%);
    }

    img{
        width: 100%;
        height: auto;
    }

    h2{
        font-family: Fraunces, sans-serif;
        font-size: 28px;
        font-weight: 900;
    }

    p{
        font-family: Barlow, sans-serif;
        font-size: 18px;
        margin: 1.5rem  1.5rem auto 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }
}

.photography{
    position: relative;
   
    .photography-main{
        position: absolute;
        top: 65%;
        width: 100%;
        text-align: center;
        color: hsl(198, 62%, 26%);
    }

    img{
        width: 100%;
        height: auto;
    }

    h2{
        font-family: Fraunces, sans-serif;
        font-size: 28px;
        font-weight: 900;
    }

    p{
        font-family: Barlow, sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin: 1.5rem  2rem auto 2rem;
        line-height: 2rem;
    }
}

.testimonials{
    background-color: hsl(0, 0%, 100%); 

    h2{
        display: block;
        padding: 3.5rem 1rem;
        text-align: center;
        color: hsl(210, 4%, 67%);
        font-family: Fraunces, sans-serif;
        font-weight: 700;
        letter-spacing: .2rem;
    }

    .emily{
        align-items: center;
        justify-content: center;
        text-align: center;

        img{
            border-radius: 10rem;
        }

        p{
            font-family: Barlow, sans-serif;
            font-weight: 600;
            color: hsl(213, 9%, 39%);
            margin: 2.5rem 3.4rem;
            font-size: 19px;
            line-height: 2rem;
        }

        h3{
            color: hsl(212, 27%, 19%);
            font-weight: 900;
            font-family: Fraunces, sans-serif;
        }

        .post{
            margin-top: 0rem;
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: hsl(210, 4%, 67%);
        }
    }
    
    .thomas{
        align-items: center;
        justify-content: center;
        text-align: center;

        img{
            border-radius: 10rem;
        }

        p{
            font-family: Barlow, sans-serif;
            font-weight: 600;
            color: hsl(213, 9%, 39%);
            margin: 2.5rem 3rem;
            font-size: 19px;
            line-height: 2rem;
        }

        h3{
            color: hsl(212, 27%, 19%);
            font-weight: 900;
            font-family: Fraunces, sans-serif;
        }

        .post{
            margin-top: 0rem;
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: hsl(210, 4%, 67%);
        }
    }

    .Jennie{
        align-items: center;
        justify-content: center;
        text-align: center;

        img{
            border-radius: 10rem;
        }

        p{
            font-family: Barlow, sans-serif;
            font-weight: 600;
            color: hsl(213, 9%, 39%);
            margin: 2.5rem 3rem;
            font-size: 19px;
            line-height: 2rem;
        }

        h3{
            color: hsl(212, 27%, 19%);
            font-weight: 900;
            font-family: Fraunces, sans-serif;
        }

        .post{
            margin-top: 0rem;
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: hsl(210, 4%, 67%);
        }
    }
}

.img-grid{
   display: grid;
   grid-template-columns: repeat(2 , 1fr);
    
    img{
        width: 100%;
    }
}

footer{
    background-color: hsl(168, 34%, 41%);

    .footer-logo{
        filter: invert(53%) sepia(7%) saturate(2574%) hue-rotate(118deg) brightness(50%) contrast(86%);
        margin: auto;
        display: block;
        padding-top: 3rem;
        width: 10rem;
    }

    .links{
        ul{
            display:flex;
            flex-direction: row;
            justify-content: center;
            gap: 3rem;
            padding: 2rem 0;
            font-family: Barlow, sans-serif;
            font-size: 1.2rem;
        }

        a{
            color: hsl(167, 40%, 24%);
        }
    }

    .social-links{
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 3rem;

        img{
            filter: invert(53%) sepia(7%) saturate(200%) hue-rotate(118deg) brightness(50%) contrast(86%);

        }
    }

    .courtesy{
        text-align: center;
        font-family: Barlow, sans-serif;
        font-size: 1.2rem;
        padding-top: .3rem;
        padding-bottom: .5rem;
        background-color: hsl(213, 9%, 39%);
        position: sticky;
        color: pink;

        a{
            color: hsl(7, 99%, 70%);

            &:hover{
                color: #3ebfff;
                transition: .3s;
            }
        }
    }
}

.show-menu{
    display: block;
    transition: .3s;
}

.toggle{
    .bar1{
        transform: rotate(45deg) translate(4px, 4px);
        -webkit-transform: rotate(45deg) translate(4px, 4px);
        transition: .3s;
    }

    .bar2{
        opacity: 0;
    }

    .bar3{
        transform: rotate(-45deg) translate(6px, -7px);
        -webkit-transform: rotate(-45deg) translate(6px, -7px);
        transition: .3s;
    }
}

@media only screen and (min-width: 580px) {
    .container{
        .arrow{
            position: relative;
            top: 50%;
        }    
    }
}

@media only screen and (min-width: 912px) {
    body{
        margin-right: 0;
    }

    .mobile{
        display: none;
    }
    
    .desktop{
        display: block;
        width: 100%;
    }

    .container{
        background: url(/images/desktop/image-header.jpg);
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        z-index: -1;

        .arrow{
            position: relative;
            top: 40%;
        }

        h1{
            span{
                display: unset;
            }
        }

        .burger-menu{
            div{
                display: none;
            }
        }

        nav{
            transform: translateX(0%);
            position: unset;
            background: none;
            transition: .3s;
            z-index: 999;
            clip-path: unset;

            ul{
                display: flex;
                position: absolute;
                top: -50px;
                right: -80px;
                float: right;
                margin-top: 0;

                .nav-list{
                    color: hsl(0, 0%, 100%);

                    &:hover{
                        color: #feb800;
                        transition: .3s;
                    }
                }

                button{
                    margin-top: -12px;
                    background: hsl(0, 0%, 100%);
                }
            }
        }

        nav{
            display: block;
        }
    }

    .transform{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "left right";

        .transform-text{
            grid-area: left;
            padding-left: 1rem;
            padding-right: 1rem;

            h2{
                text-align: left;
                margin-left: 0;
                margin-right: 0;
                margin-top: 1rem;

                span{
                    display: block;
                }
            }

            p{
                text-align: left;
            }

            h4{
                text-align: left;
                margin-bottom: 0;
            }
        }
    }

    .stand-out{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 0;

        .stand-out-text{
            padding-left: 1rem;
            padding-right: 1rem;

            h2{
                text-align: left;
                margin-left: 0;
                margin-right: 0;
                margin-top: 1rem;
            }

            p{
                text-align: left;
            }

            h4{
                text-align: left;
                margin-bottom: 0;
            }
        }
    }

    .graphic-photo{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);

        .graphic-design{
            position: relative;

            .graphic-design-main{
                position: absolute;
                top: 55%;
            }
        }

        .photography{
            position: relative;

            .photography-main{
                position: absolute;
                top: 55%;
            }
        }
    }

    .testimonial-grid{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .img-grid{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
    }
}